
body {
  background-color: hsl(212, 45%, 89%);
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution {

  margin: auto;
}

.snimka {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

h1 {
  font-family: "Outfit";
  margin: 25px auto 0;
  color: black ;
  width: 280px;
  font-weight: 600;
  
}

h3 {

    font-family: "Outfit";
    color:hsl(220, 15%, 55%);
    margin: 0 auto 30px;
    width: 225px;
    font-weight: 400;
}

.attribution {
  width: 330px;
  background-color: hsl(0, 0%, 100%);
}

.attribution {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 330px;
  height: 350px;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 140px;
}


.background {
  width: 100%;
  height: 100%;
  color: hsl(220, 15%, 55%) ;
}

